<!DOCTYPE html>
<html>
<head>
<title>Line Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
//  The JS Line Liff Button 


<div id="status">
</div>
<div id="access_dict">
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
let url = "{{ url }}";
$(document).ready(function() {
  setTimeout(function(){
    window.location.href = url;
  }, 500)
});

</script>

</body>
</html>

</body>
</html>